/*css reset*/
*{
    margin: 0;
    padding: 0;
}
/*media query for width<+1024*/
@media  screen and (max-width:1024px){
    .container{
         flex-direction: column;
         padding-block: 20px;
    }
    .gallery{
        width:100%;
        grid-auto-rows: 210px;

}.heading{
      color: blueviolet;
}
    
    .box{
        grid-row: span 2;
        grid-column: span 3;
    }
}